
body {
    background-color: #f5f5f5;
    margin: 10px 0;
}

h1 {
    width: 445px;
    margin: 10px auto;
}

form#introduction {
    background-color: white;
    width: 450px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #e5e5e5;
}

label {
    clear: left;
    float: left;
    width: 200px;
}

input {
    float: left;
}

button {
    margin: 0 auto;
}

#greeting {
    padding: 20px 0;
    font-style: italic;
    width: 450px;
    margin: 0 auto;
}
